<div class="footer-container mt-3">
    <div class="footer-menu-container">
        <div class="footer-menu">
            <ul>
                <li [routerLink]="['/home']">Home</li>
                <li [routerLink]="['/movies']">Movies</li>
                <li>Tv Shows</li>
                <li>Trailers</li>
                <li>Liked</li>
                <li>Actors</li>
            </ul>
        </div>
        <div class="social">
            <ul>
                <li><i style="color:#3b5998;" class="facebook icon"></i> Facebook</li>
                <li><i style="color: #833AB4;" class="instagram icon"></i> Instagram</li>
                <li><i style="color: #c4302b;" class="youtube icon"></i> Youtube</li>
            </ul>
        </div>
        <div class="user">
            <ul>
                <li>Sign Up</li>
                <li>Sign in</li>
            </ul>
        </div>
    </div>
    <div class="footer-logo mt-2">
        <img width="150px" src="assets/logo.png" alt="">
        <span>© 2021-2022 cinemax.ge</span>
    </div>
</div>