<div class="header">
    <div class="logo-container">
        <img class="logo" width="250px" src="assets/logo.png" alt="">
    </div>
    <div class="search-container">
        <input class="search-input" placeholder="search..." type="text">
        <div class="search-btn">
            <i class="ui search icon"></i>
            search
        </div>
    </div>
    <div class="user-container">
        <div [routerLink]="['/signin']" class="user-content">
            <div class="sign-text">Sign In</div>
            <div class="user-icon">
                <i class="user circle outline icon"></i>
            </div>
        </div>
    </div>
</div>