<div class="slider-container">
    <app-slider class="slider"></app-slider>
    <div class="new-movies-container">
        <div class="new-movies">
            <div class="image-container">
                <img src="assets/image1.jpg" alt="" class="">
                <div class="info">
                    <div>
                        <span>Hawkeye</span>
                        <br>
                        <span>2021</span>
                    </div>
                </div>
            </div>
            <div class="image-container">
                <img src="assets/image2.jpg" alt="" class="">
                <div class="info">
                    <div>
                        <span>Shang-Chi...</span>
                        <br>
                        <span>2021</span>
                    </div>
                </div>
            </div>
            <div class="image-container">
                <img src="assets/image3.jpg" alt="" class="">
                <div class="info">
                    <div>
                        <span>Red Notice</span>
                        <br>
                        <span>2021</span>
                    </div>
                </div>
            </div>
            <div class="image-container">
                <img src="assets/image4.jpg" alt="" class="">
                <div class="info">
                    <div>
                        <span>Venom 2</span>
                        <br>
                        <span>2021</span>
                    </div>
                </div>
            </div>
            <div class="image-container">
                <img src="assets/image5.jpg" alt="" class="">
                <div class="info">
                    <div>
                        <span>Sucide Squad 2</span>
                        <br>
                        <span>2021</span>
                    </div>
                </div>
            </div>
            <div class="image-container">
                <img src="assets/image6.jpg" alt="" class="">
                <div class="info">
                    <div>
                        <span>What If..?</span>
                        <br>
                        <span>2021</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <app-movies></app-movies>
</div>