.page{
    display: flex;
    background-color: #1f2128;
}
.footer{
    background-color: red;
}
.content{
    width: 100%;
}
.main-content{
    background-color: #242731;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}