<div class="sidebar-container">
    <div class="navigation">
        <div class="empty-space"></div>
        <div class="menu-btns">
            <div [routerLink]="['/home']" routerLinkActive="active-btn"  class="nav-btn">
                <div class="icon-container">
                    <i class="home icon"></i>
                </div>
                <div class="text">Home</div>
            </div>
            <div [routerLink]="['/movies']" routerLinkActive="active-btn"  class="nav-btn">
                <div class="icon-container">
                    <i class="film icon"></i>
                </div>
                <div class="text">Movies</div>
            </div>
            <div [routerLink]="['/page404']" routerLinkActive="active-btn"  class="nav-btn">
                <div class="icon-container">
                    <i class="bi bi-camera-reels"></i>
                </div>
                <div class="text">Tv Show</div>
            </div>
            <div [routerLink]="['/page404']" routerLinkActive="active-btn"  class="nav-btn">
                <div class="icon-container">
                    <i class="bi bi-camera-video"></i>
                </div>
                <div class="text">Trailers</div>
            </div>
            <div [routerLink]="['/page404']" routerLinkActive="active-btn"  class="nav-btn">
                <div class="icon-container">
                    <i class="bi bi-heart"></i>
                </div>
                <div class="text">Liked &nbsp;</div>
            </div>
            <div [routerLink]="['/page404']" routerLinkActive="active-btn"  class="nav-btn">
                <div class="icon-container">
                    <i class="users icon"></i>
                </div>
                <div class="text">actors</div>
            </div>
        </div>
    </div>