.image-container{
    position: relative;
    cursor:pointer;
    font-family: 'Chakra Petch', sans-serif;
}
.image{
    width: 230px;
    height: 360px;
}
.overlay{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    color: white;
    font-size: 17px;
    opacity: 0;
    width: 230px;
    height: 360px;
}
.overlay-background{
    position: absolute;
    top: 0;
    opacity: 0;
    background:black;
    width: 230px;
    height: 360px;
}
.movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
}
.image-container:hover .overlay{
    transition: 600ms all;
    opacity: 1;
}
.image-container:hover .overlay-background{
    transition: 600ms all;
    opacity: 0.4;
}
.overlay > div > div > span, .overlay > div > div > div{
    font-size: 15px;
    border:1px solid white;
    padding: 1px;
    border-radius: 3px;
}
.overlay :first-child{
    flex:50%;
}
.overlay :nth-child(2){
    flex:50%;
    text-align: right;
}
.imdb-year{
    z-index: 1;
    padding: 0 15px 0 15px;
    width: 230px;
    position: absolute;
    top:  330px;
    display: flex;
    justify-content: space-between;
}
.imdb-span, .year-container{

    font-size: 15px;
    border: solid 1px white;
    padding: 1px;
    border-radius: 3px;
}
.play-button{
    width: 260px;
    display: flex;
    justify-content: center;
}
.movie-title-container{
    padding:5px;
    width: 230px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.movie-title{
    width:90%
}
.button{
    width: 44px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.button:hover{
    background-color: #1f2128;
    transition: 700ms all;
}
.ellipsis{
    width: 10%;
}

